@import "tailwindcss";
@font-face {
  font-family: 'Geist Sans';
  src: url('/fonts/GeistSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
}